

@import './variables';
@import './mixins';
@import './fonts';

//base
@import './base/buttons.scss';
@import './base/footer.scss';
@import './base/forms.scss';
@import './base/general.scss';
@import './base/header.scss';
@import './base/text.scss';

//components
@import './components/social.scss';
@import './components/star-articles.scss';



//librairie bootstrap
@import './libs/bootstrap.scss';

.fresqueImg {
    background: url(/assets/image/fresque.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    background-position: 50%;
}

.contact {
   color: $contact;
}

.inputContact {
     input {
        border-radius: 50px;
        min-width: 300px;
    }
}
.bg-contact {
    background-color: $contact ;
    padding: 10px;
}